.backdrop{
    width: 100%;
    height: 40vw;
    background-position: center;
    background-size: cover;
}

.register-heading {
    padding-top: 18vw;
    font-size: 40px;
    color: white;
}

.registration-cards{
    display: flex;
    column-gap: 10px;
    flex-wrap: wrap;
    margin-top: 10px;
    text-align: left;
    justify-content: center;
}

.member img, .partner img {
    width: 100%;
    height: 28vw;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.registration-cards p {
    width: 90%;
    font-size: 20px;
}

.member, .partner{
    width: 48vw;
    padding-bottom: 100px;
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.member:hover, .partner:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.registration-cards h1, .registration-cards p{
    margin-left: 8px;
}

@media(max-width: 445px){
    .member h1, .partner h1{
        font-size: 7vw;
    }
    .member p, .partner p{
        font-size: 4vw;
    }
}


